spring:
  datasource:
    url: jdbc:mysql://localhost:3306/yxly_dev?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai
    username: root
    password: 123456
  
  redis:
    host: localhost
    port: 6379
    password: 
  
  # DevTools 热加载配置
  devtools:
    restart:
      enabled: true
      additional-paths: src/main/java
      exclude: static/**,public/**
    livereload:
      enabled: true
      port: 35729

# MinIO对象存储配置
minio:
  endpoint: http://localhost:9000
  accessKey: admin
  secretKey: 12345678
  bucketName: txt
  urlPrefix: http://localhost:9000/txt/

logging:
  level:
    com.yxly: DEBUG
    org.springframework.security: DEBUG
  pattern:
    console: "%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"

# Swagger配置
springdoc:
  api-docs:
    enabled: true
    path: /v3/api-docs
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha
  group-configs:
    - group: 'default'
      display-name: '悦鑫乐怡民宿管理系统API'
      paths-to-match: '/v1/**'
